x_accordion {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::slotted(.slide) {
  height: 90vh;
  border-radius: 30px;
  margin: 0.50%;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

/* .slide h3 {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font: 'Arial';
}
 */
/* .slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
} */

::slotted(.slide.active) {
  flex: 10;
}

/* .slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
*/
